img{
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 50%;
    object-position: center;
    
}
.slide-active{
    display: block;
}

.slide{
    display: none;
}

.container{
    position: relative;
}

.arrow-left{
    position: absolute;
    right: 65%;
    font-size: 35px;
    color: yellow;
    top: 45%;
}

.arrow-right{
    position: absolute;
    left:  65%;
    font-size: 35px;
    color: yellow;
    top: 45%;
}